@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
     line-height : 1;
    list-style : none;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    list-style: none;
}

body {
    background-color: #FFFFFF;
}

.div_header {
    width: 100%;
    background-color: #E59D74;
}

header {

    background-color: #E59D74;
    padding: 20px 30px;
}

nav {
    margin: 0px 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-transform: uppercase;
    gap: 18px;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.div_ul_btnByNow {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

ul a {
    font-size: 14px;
}

.byNow {
    padding: 5px 32px;
    background-color: #B77956;
    color: black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    padding: 8px 41px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}


.nav__btn_byNow button:hover {
    background-color: green;
}



footer {
    padding: 68px 165px;
    background-color: #E59D74;
}

footer .footer-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 16px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    line-height: 1;
    margin-top: 16px;
}

.footer-menu .footer-links,
.footer-menu .footer-media-icons {
    display: flex;
    gap: 30px;
}

/*--------------code header footer -----------*/
.home_section02,
.div_home_section03,
.home_section04 {
    width: 80%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.div_home_section03 {
    margin-bottom: 50px;
}


.home_section02 .parte_left,
.home_section02 .parteRight_Image,
.home_section03 .image_parte_left,
.home_section03 .parteRight,
.home_section04 .parteright,
.home_section04 .image_parteright {
    width: 41%;
}

.home_section02 .parte_left,
.div_home_section03 .image_parte_left,
.home_section04 .parteright {
    padding-left: 38px;

}

.classh3 {
    line-height: 3;
    font-size: 45px;
    font-weight: bold;
    color: #B77956;
}

.home_section03 .div_home_section03 h3,
.home_section04 .parteright h3 {
    line-height: 1.5;
}

.classP {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3%;
    line-height: 22px;
}

.home_section02 .parte_left .btn_readMore {
    font-size: 16px;
    font-family: 'Inria Serif', serif;
    border-radius: 22px;
    color: #FFFFFF;
    padding: 8px 37px;
    /* font-weight: 500; */
}

.home_section02 .parte_left .div__btn_readMore {
    width: 100%;
    margin: 16px auto;
}

.home_section03 {
    background-color: #E59D74;
    border-radius: 50px;
}

.home_section03 .parteRight h3 {
    color: #F3D9CB;
}

/*-----------------Code contac------*/

.containt_Contact{
    width: 65%;
    /* height: 70%; */
    margin:100px auto 50px auto; 
    padding-bottom: 50px;
    background-color:#D48254 ;
    border-radius: 19px;
}
.containt_Contact .classH1Contact{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.containt_Contact .classH1Contact h1{
    
    font-size:44.96px ;
    font-family: "Inria Serif"; 
    font-weight:bold;
}

.containt_Contact .containt_form_maps {
    display: flex;
    justify-content:space-around ;
    gap:15px;
    padding-left:15px ;
    padding-right:50px ;
}
.containt_Contact .containt_form_maps .div_form{
    background-color:#E59D74 ;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
    margin:10px auto;
}

.containt_form_maps .maps{
    width: 40%;
}

.containt_Contact .containt_form_maps .div_form form{
    width: 100%;
    margin: auto;
    padding-left: 10px;
}

.div_classh3_contact {
    width: 100%;
    text-align: center;
    
    
    margin-bottom: 20px;
}
.div_classh3_contact h3{
    font-size:35px ;
    font-family:"Inria Serif" ;
    font-weight:bold ;
}
.div_input{
    margin:0 auto;
}




.div_input input,
.div_textArea textarea{
    width: 96%;
    margin: auto;
    padding: 10px 2px 10px 7px;
    margin-bottom: 18px;
    border-radius: 5px;
    border: none;
    background-color:#FFFFFF ;
}

.div_input input:focus,
.div_textArea textarea:focus{
    background-color:#D9D9D9 ;
    outline: none;
}

form .div_button_submit{
    width: 100%;
    display: flex;
    justify-content: center;
}

form .div_button_submit button{
    padding: 8px 58px;
    border-radius: 7px;
    background-color:#B77956;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    border: none;
    align-self:center;
    margin: auto ;
}

.Contacts_icon{
    display: flex;
    flex-direction: column;
}

.icon_contact{
    width: 67%;
    margin: auto;
}
.icon_contact .div_contact_icon{
    display: flex;
    justify-content: space-evenly;
}

.div_contact_icon .Contacts_icon{
    padding: 3px 23px;
    border-radius: 45px;
    transition: 0.5s;
}


.div_contact_icon .Contacts_icon:hover{
    background-color: #E59D74;
}

.div_contact_icon h3{
    color: white;
}



/*--------------Animation-------*/

/* @keyframes translateleft{
    form{
        opacity: 0;
    }
    to {
        transform: translate(0.01%);
        opacity: 1;
    }    
}

@keyframes translaright{
    form{
        opacity: 0;
    }
    to {
        transform: translatex(-0.01%);
        opacity: 1;
    }    
}

.home_section02,
.home_section04
{
    transform: translatex(100%);
}

.home_section01,
.div_home_section03{
    transform: translatex(100%);
}

.home_section02:hover,
.home_section04:hover{
    animation-name:translateleft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.home_section01:hover,
.div_home_section03:hover{
    animation-name:translaright;
    animation-duration: 2s;
    animation-fill-mode: forwards;
} */






/*-----------------------About us-------------------*/

/*------------Section 1--------------------*/

.about_section1 .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about_section1 .container .content {
    width: 40%;
    padding: 50px auto;
}
section.section1 .about1 .about1_content {
    width: 50%;
}

section.section1 .about1 .about1_content {
    width: 50%;

    justify-content: center;
    align-items: center;
    margin: 100px auto;

}

section.section1 .about1 .about1_content h1 {
    font-size: 45px;
    color: #B77956;
    margin-bottom: 48px;
    font-weight: 700;
}
.about_section1 .container .content p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.56px;
    line-height: normal;
    margin-bottom: 100px ;
}

.about_section1 .container .image  {
    max-width: 40%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.about_section1 .container .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    
}
section.section1 .about1 .about1_content p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    margin-bottom: 100px;
}

section.section1 .about1 .about1_image {
    width: 40%;

}

section.section1 .about1 .about1_content .btn {


    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.about_section1 .container .content #button button{
    padding: 10px 30px;


}
section.section1 .about1 .about1_content #button button {
    width: 200px;
    height: 56px;
    border-radius: 10px;
    background: rgba(183, 121, 86, 0.85);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 30px;
}

/*---------------------separateur-----------*/


.about_separateur {
    width: 100%;
    height: 116px ;

}
section.separateur {
    min-height: 116px;
    background-color: #904B23;
    display: flex;
    align-items: center;
    justify-content: center;
}


section.separateur h1 {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

/*-----------------------Section 2 --------------------*/


.about_section2 p:first-child {
    margin: 75px auto;
    color: black;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    width: 50%;
}
.about_section2 .cartes {
    width: 88%;
    margin: 40px 6%;
    
}
.about_section2 .cartes .carte {
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-top: 40px;
    display: flex;

}
.about_section2 .cartes .carte .content_container{
    width: 70%;
    display: flex;
    justify-content: center;
    
    
}
.about_section2 .cartes .carte .content_container .content{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    
}
.about_section2 .cartes .carte .content p{
    font-size: 20px;
    text-wrap: wrap;
    width: 100%;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.about_section2 .cartes .carte .content h3 {
    align-self: flex-start;
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.about_section2 .cartes .carte .image{
    width: 30%;
    overflow: hidden;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    

}


.about_section2 .cartes .carte4 .content_container {
    order: 1;
}
.about_section2 .cartes .carte2 .content_container {
    order: 1;
}



/*------------------Section 3 -----------------------*/

.about_section3 {
    background: #E78F5C;
    height: fit-content;
    padding: 80px auto;
}
.about_section3 .content_header  {
    width: 70%;
    /* height: 200px; */
    padding: 80px auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}
.about_section3 .content_header h3 {
    text-shadow: 2px 3px#904B23;
    text-align: center;
    color: #000;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    
}
.about_section3 .content_header p{
    padding-top: 20px;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about_section3 .gallery_container {
    width: 80%;
    /* height: 80vh; */
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    
}
.about_section3 .gallery_container .gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.about_section3 .gallery_container .gallery .card_3 {
    grid-column: 3;
    grid-row: 1/3;

}
.about_section3 .gallery_container .gallery .card_4 {
    grid-column: 1/3;
    grid-row: 2;
}
.about_section3 .gallery_container .gallery .card {
    position: relative;
    overflow: hidden;
}
.about_section3 .gallery_container .gallery .card .image  {
    height: 100%;
    width: 100%;
    transition: 0.5s;
    transition-timing-function: ease-out;


}
.about_section3 .gallery_container .gallery .card .image img {
    
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.about_section3 .gallery_container .gallery .card .content {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0px 20px;
    top: 50px;
    opacity: 0;
    color: #D9D9D9;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.about_section3 .gallery_container .gallery .card .content p {
    width: 70%;
    
}
.about_section3 .gallery_container .gallery .card .content h4 {
    font-weight: 800;
    
}
.about_section3 .gallery_container .gallery .card:hover .content {
    position: absolute;
    top: 0;
    opacity: 1;
    z-index: 2; 
    transition: 0.5s;
    
} 
.about_section3 .gallery_container .gallery .card:hover .image{
    scale: 1.3;
    transition: 0.5s;
    transition-timing-function: ease-in ;
    
}




@media screen and (max-width:991px) {

    header {

        margin: 0px auto;
        padding: 0px 13px;
    }

    nav {
        flex-direction: column;
        gap: 0;
    }

    .div_ul_btnByNow {
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .nav__img_logo {
        justify-self: center;
        
    }

    .home_section02,
    .div_home_section03,
    .home_section04 {
        width: 100%;
    }

    .home_section02 .parte_left {
        padding: 0px 0 0 25px;
    }

    .div_home_section03 .image_parte_left {
        padding-left: 0px;
    }
    .home_section04 .parteright{
        padding-left: 20px;
    }

    .home_section03 .parteRight h3 {
        color: #F3D9CB;
    }
    .containt_form_maps{
        flex-direction: column;
        gap:5px;
    }
    .containt_Contact .containt_form_maps .div_form  {
        width: 80%;
    }
    .containt_form_maps .maps {
        width: 100%;
        height: 150px;
    }

    .containt_Contact .containt_form_maps {
        padding-right: 9px;
    }

    .containt_Contact .classH1Contact h1 {
        font-size: 37px;
        font-weight: bold;
    }

    .div_classh3_contact h3 {
        font-size: 28px;
    }

    .containt_Contact {
        width: 75%;
        margin: 50px auto ;
        padding-bottom: 10px;
    }
}

@media screen and (max-width:776px) {
    .div_ul_btnByNow {
        margin-bottom: 10px;
    }

    footer {
        padding: 21px 20px;
    }

    .footer-inner,
    .footer-menu {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .home_section02 {

        margin-top: 7px;
    }

    .classh3 {
        line-height: 1;
        font-size: 31px;
    }

    .classP {
        font-size: 11px;
        line-height: 16px;
    }

    .footer-menu .footer-links,
    .footer-inner div {
        display: none;
    }

    .about_section3 {
        height: auto;
    }

}

@media screen and (max-width:598px) {
    body {
        max-width: 100%;
    }
    header {

        /* width: 100%; */

        padding: 0px 13px;
    }

    header nav {
        gap: 0;
    }

    ul a {
        font-size: 8px;
        font-weight: bold;
    }

    .byNow {
        font-size: 13px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 20px;
    }

    .div_ul_btnByNow {
        width: 100%;
    }

    .div_ul_btnByNow ul li {
        font-size: 15px;
    }

    footer {
        /* height: 100px; */
        padding: 15px 20px;
    }
    /*-----About Section1-----*/
    .about_section1 .container {
        display: flex;
        flex-direction: column;
        
    }
    .about_section1 .container .content {
        margin:auto;
        width: 100%;
        
    }
    .about_section1 .container .content p {
        padding: 2px 20px;
        line-height: normal;
        text-align: start;
        margin-bottom: 30px;
    }
    .about_section1 .container .content h1{
        margin-top: 35px;
        text-align: center;
    }
    .about_section1 .container .content .btn {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        
    }
    .about_section1 .container .content .btn button{
        padding: 6px 20px;
        
    }
    .about_section1 .container .image {
        max-width: 100%;
        height: 400px;
    }
    .about_section2 p:first-child {
        margin: 35px;
        text-align: start;
        font-size: 23px;
        font-weight: 500;
        width: 70%;
    }
    .about_section2 .cartes .carte {
        width: 100%;
        flex-direction: column;
        gap:12px;
    }
    .about_section2 .cartes .carte .content_container {
        width: 100%;
    }
    .about_section2 .cartes .carte .content_container .content{
        gap: 10px;
    }
    .about_section2 .cartes .carte .content_container p {
        font-size: 10px;
        line-height: 1;
        
    }
    .about_section2 .cartes .carte .content_container h3 {
        font-size: 16px;
        margin-top: 10px;
    }
    .about_section2 .cartes .carte .image {
        width: 100%;
        height: 160px;
        align-self: center;
        
    }
    .about_section2 .cartes .carte .image img {
        width: 70%;
        height: 100%;
        object-fit: cover;
    }
    .about_section2 .cartes .carte2 .content_container {
        order: 0;
        
    }
    .about_section2 .cartes .carte4 .content_container {
        order: 0;
        
    }
    .about_section3 .content_header {
        width: 95%;
    }
    .about_section3 .content_header p {
        text-align: start;
        width: 73%;
    }
    .about_section3 .gallery_container .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,200px);
    }
    .about_section3 .gallery_container .gallery .card_1 {
       grid-row: 1/2;
       grid-column: span 1;
    }
    .about_section3 .gallery_container .gallery .card_2 {
        grid-row: 2/3;
        grid-column: span 1;
    }
    .about_section3 .gallery_container .gallery .card_3 {
        grid-row: 3/4;
        grid-column: span 1;
    }
    .about_section3 .gallery_container .gallery .card_4 {
        grid-row: 4/5;
        grid-column: span 1;
    }
    

    .classh3 {
        line-height: 2;
        font-size: 18px;
    }

    .home_section03 .div_home_section03 h3,
    .home_section04 .parteright h3  {
        line-height: 1.2;
    }

    .classP {
        font-size: 10px;
        line-height: 10px;
    }

    .home_section02 .parte_left .btn_readMore {
        font-size: 10px;
        border-radius: 10px;
        padding: 6px 24px;

    }

    .div_home_section03,
    .home_section04 {

        margin: 21px auto;

    }

    .containt_Contact .containt_form_maps .div_form {
        width: 100%;
    }

    .containt_Contact .classH1Contact h1 {
        font-size: 28px;

    }
    .div_classh3_contact h3 {
        font-size: 22px;
    }
}




@media screen and (max-width:349px) {
    body {
        display: none;
    }
}

.dtl_parent1 {
    display: flex;
    justify-content: space-around;
}

.parent1_div1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.parent1_div2 {
    width: 40%;
}


.parent1_button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.parent1_div1 h1 {
    color: #E59D74;
    text-align: center;
    font-family: "Inria Serif";
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;

}

.parent1_div2 p,
h3 {
    color: #000;
    margin-top: 20px;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px
}


.parent1_div2 h3 {
    line-height: 60px;
    font-size: 30px;
    color: #E59D74;
}

.line {
    display: flex;
    width: 80%;
    font-size: 50px;
    justify-content: center;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    text-shadow: white 1px 1px 1px;
}

.info {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 50px;
    align-items: center;
}

.info img {
    width: 40%;
}

.info-image {
    display: flex;
    align-items: center;
}

.detl2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.detl2 h1 {
    font-size: 35px;
    margin-bottom: 30px;
    color: #904B23;
}

.para {
    width: 60%;
    color: #000;
    font-family: Roboto;
    font-style: normal;
    font-weight: 20px;
    margin: auto;
    text-align: start;
}

.para p {
    line-height: 58px;
    font-size: 26px;
    text-shadow: #FFFFFF 1px 1px 1px;

}

.btn {
    margin-bottom: 50px;
}

button {
    transition: all 0.5s ease;

}

button:hover {
    background-color: #904B23;
    transform: scale(1.1);
    color: wheat;
}

@media (max-width: 992px) {
    .dtl_parent1 {
        flex-direction: column;
        align-items: center;
    }

    .parent1_div1,
    .parent1_div2 {
        width: 80%;
        margin-bottom: 20px;
    }

    .parent1_button {
        flex-direction: column;
        align-items: center;
    }

    .parent1_button button {
        margin-bottom: 10px;
        width: 100%;
    }

    .info {
        flex-direction: column;
        text-align: center;
    }

    .info img {
        width: 60%;
    }

    .line {
        width: 90%;
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .dtl_parent1 {
        flex-direction: column;
        align-items: center;
    }

    .parent1_div1,
    .parent1_div2 {
        width: 90%;
    }

    .info img {
        width: 80%;
    }

    .para {
        width: 90%;
        font-size: 20px;
        line-height: 40px;
    }

    .line {
        font-size: 35px;
    }

    .detl2 {
        font-size: 70%;
    }
}

@media (max-width: 576px) {
    .parent1_div1 h1 {
        font-size: 28px;
    }

    .parent1_div2 h3,
    .parent1_div2 p {
        font-size: 18px;
        line-height: 30px;
    }

    .info {
        font-size: 20px;
    }

    .info img {
        width: 100%;
    }

    .para {
        font-size: 18px;
        line-height: 30px;
    }

    .line {
        font-size: 30px;
        width: 100%;
    }

    .parent1_button button {
        width: 100%;
        margin-bottom: 15px;
    }

    .detl2 {
        font-size: 50%;
    }
}

section.section1 .about1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

section.section1 .about1 .about1_content {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;

}

section.section1 .about1 .about1_content h1 {
    font-size: 45px;
    color: #B77956;
    margin-bottom: 48px;
    font-weight: 700;
}

section.section1 .about1 .about1_content p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    margin-bottom: 100px;
}

section.section1 .about1 .about1_image {
    width: 40%;

}

section.section1 .about1 .about1_content .btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.section1 .about1 .about1_content #button button {
    width: 200px;
    height: 56px;
    border-radius: 10px;
    background: rgba(183, 121, 86, 0.85);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

}


section.separateur {
    min-height: 116px;
    background-color: #904B23;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.separateur h1 {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.section1_product {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section1_div1 {
    width: 40%;
    margin-left: 15%;
}

.section1_div2 {
    width: 40%;
    margin-left: 10%;
}

.section1_div2 p {
    line-height: 35px;
    font-size: 20px;
    margin-bottom: 5%;
}

.section1_div2 h1 {
    margin-bottom: 5%;
    font-size: 30px;
    color: #904B23;
}

.section1_div4 {
    display: flex;
    justify-content: space-evenly;
}

.produit_line1 {
    display: flex;
    justify-content: space-evenly;
}

.product1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 500px;
    width: 280px;
    border-radius: 20px;
    background-color: #e8b699;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.product1 img {
    border-radius: 15px;
    cursor: pointer;
    box-shadow: #904B23 4px 3px 2px 2px;
    transition: transform 0.3s ease;
    width: 220px;
}

.product1 img:hover {
    transform: scale(1.1)
}
.product1:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 80px 6px;
}

.section2_product {
    margin-top: 10%;
}

.place {
    display: flex;
    width: 10%;
    align-items: center;
    margin-left: 12%;
    margin-bottom: 6%;
    box-shadow: #904B23 3px 3px 3px 3px;
    background-color: #E59D74;
    cursor: pointer;
}

.product2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 500px;
    width: 280px;
    border-radius: 20px;
    background-color: #e8b699;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}

.product2 img {
    border-radius: 15px;
    cursor: pointer;
    box-shadow: #904B23 4px 3px 2px 2px;
    transition: transform 0.3s ease;
    width: 220px;

}

.product2 img:hover {
    transform: scale(1.1)
}
.product2:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 80px 6px;
}

.product3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 500px;
    width: 280px;
    border-radius: 20px;
    background-color: #e8b699;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.product3 img {
    border-radius: 15px;
    cursor: pointer;
    box-shadow: #904B23 4px 3px 2px 2px;
    transition: transform 0.3s ease;
    width: 220px;

}

.product3 img:hover {
    transform: scale(1.1)
}
.product3:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 80px 6px;
}

.product4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 500px;
    width: 280px;
    border-radius: 20px;
    background-color: #e8b699;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.product4 img {
    border-radius: 15px;
    cursor: pointer;
    box-shadow: #904B23 4px 3px 2px 2px;
    transition: transform 0.3s ease;
    width: 220px;

}

.product4 img:hover {
    transform: scale(1.1)
}
.product4:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 80px 6px;
}

.product5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 500px;
    width: 280px;
    border-radius: 20px;
    background-color: #e8b699;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product5 img {
    border-radius: 15px;
    cursor: pointer;
    box-shadow: #904B23 4px 3px 2px 2px;
    transition: transform 0.3s ease;
    width: 220px;

}

.product5 img:hover {
    transform: scale(1.1)
}
.product5:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 80px 6px;
}

.product6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 500px;
    width: 280px;
    border-radius: 20px;
    background-color: #e8b699;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product6 img {
    border-radius: 15px;
    cursor: pointer;
    box-shadow: #904B23 4px 3px 2px 2px;
    transition: transform 0.3s ease;
    width: 220px;

}

.product6 img:hover {
    transform: scale(1.1)
}
.product6:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 80px 6px;
}

.product7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 500px;
    width: 280px;
    border-radius: 20px;
    background-color: #e8b699;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product7 img {
    border-radius: 15px;
    cursor: pointer;
    box-shadow: #904B23 4px 3px 2px 2px;
    transition: transform 0.3s ease;
    width: 220px;

}

.product7 img:hover {
    transform: scale(1.1)
}
.product7:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 80px 6px;
}

.product8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    height: 500px;
    width: 280px;
    border-radius: 20px;
    background-color: #e8b699;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product8 img {
    border-radius: 15px;
    cursor: pointer;
    box-shadow: #904B23 4px 3px 2px 2px;
    transition: transform 0.3s ease;
    width: 220px;
}

.product8 img:hover {
    transform: scale(1.1)
}
.product8:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 25px 80px 6px;
}
.section2_product h3{
    margin-top: -20px;
}
.section2_product h3{
    margin-bottom: 5px;
}
.butt3{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.line1{
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #e8b699;
    align-items: center;
    margin: auto;
    height: 50px;
    border-radius: 15px;
    margin-bottom: -5px;
}

.img-container {
    position: relative;
    width: 220px;
    display: inline-block;
}


.hover-text {
    display: none;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(191, 115, 64, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    z-index: 1;
}


.img-container:hover .hover-text {
    display: block;
}


.img-container img {
    transition: transform 0.3s ease;
    width: 100%;
    display: block;
}

.img-container:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .section1_product {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .section1_div1, .section1_div2 {
        width: 90%;
        margin: 10px;
    }

    .section1_div1 img {
        width: 100%;
        height: auto;
    }

    .section1_div2 h1 {
        font-size: 24px;
    }

    .section1_div2 p {
        font-size: 16px;
        line-height: 28px;
    }

    .section1_div4 {
        flex-direction: column;
        gap: 10px;
    }

    .produit_line1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product1, .product2, .product3, .product4, .product5, .product6, .product7, .product8 {
        width: 90%;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .section1_product {
        flex-direction: row;
        justify-content: space-between;
    }

    .section1_div1, .section1_div2 {
        width: 45%;
    }

    .produit_line1 {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .product1, .product2, .product3, .product4, .product5, .product6, .product7, .product8 {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (min-width: 1025px) {
    .section1_product {
        width: 80%;
    }

    .section1_div1, .section1_div2 {
        width: 40%;
    }

    .produit_line1 {
        justify-content: space-evenly;
    }

    .product1, .product2, .product3, .product4, .product5, .product6, .product7, .product8 {
        width: 22%;
    }
}
.footer-media-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.footer-media-icons a:hover {
    transform: scale(1.5);
    filter: brightness(1.5);
}
.footer-media-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.footer-media-icons a:hover {
    transform: scale(1.5) rotate(10deg);
    filter: brightness(1.5);
    opacity: 0.9;
}

.div_ul_btnByNow ul li a{
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.5s ease, filter 0.5s ease;
}
.div_ul_btnByNow ul li a:hover{
    transform: scale(1.5);
    filter: brightness(1.5);
}
.div_ul_btnByNow ul li a{
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}
.div_ul_btnByNow ul li a:hover{
    transform: scale(1.5) rotate(10deg);
    filter: brightness(1.5);
    opacity: 0.9;
}
.about_section1 .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about_section1 .container .content {
    width: 40%;
    padding: 50px auto;
    justify-content: center;
    align-items: center;
    margin: 100px auto;

}
.about_section1 .container .content h1 {
    font-size: 45px;
    color: #B77956;
    margin-bottom: 48px;
    font-weight: 700;
}
.about_section1 .container .content p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.56px;
    line-height: normal;
    margin-bottom: 100px ;
}

.about_section1 .container .image  {
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center; /
}

.about_section1 .container .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;


}
.about_section1 .container .content .btn {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.about_section1 .container .content #button button{
    padding: 10px 30px;
    border-radius: 10px;
    background: rgba(183, 121, 86, 0.85);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 30px;


}


.about_separateur {
    width: 100%;
    height: 116px ;
    background-color: #904B23;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_separateur h1 {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.containt_Contact{
    width: 65%;
    /* height: 70%; */
    margin:100px auto 50px auto; 
    padding-bottom: 50px;
    background-color:#D48254 ;
    border-radius: 19px;
}
.containt_Contact .classH1Contact{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.containt_Contact .classH1Contact h1{
    
    font-size:44.96px ;
    font-family: "Inria Serif"; 
    font-weight:bold;
}

.containt_Contact .containt_form_maps {
    display: flex;
    justify-content:space-around ;
    gap:15px;
    padding-left:15px ;
    padding-right:50px ;
}
.containt_Contact .containt_form_maps .div_form{
    background-color:#E59D74 ;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
    margin:10px auto;
}

.containt_form_maps .maps{
    width: 40%;
}

.containt_Contact .containt_form_maps .div_form form{
    width: 100%;
    margin: auto;
    padding-left: 10px;
}

.div_classh3_contact {
    width: 100%;
    text-align: center;
    
    
    margin-bottom: 20px;
}
.div_classh3_contact h3{
    font-size:35px ;
    font-family:"Inria Serif" ;
    font-weight:bold ;
}
.div_input{
    margin:0 auto;
}




.div_input input,
.div_textArea textarea{
    width: 96%;
    margin: auto;
    padding: 10px 2px 10px 7px;
    margin-bottom: 18px;
    border-radius: 5px;
    border: none;
    background-color:#FFFFFF ;
}

.div_input input:focus,
.div_textArea textarea:focus{
    background-color:#D9D9D9 ;
    outline: none;
}

form .div_button_submit{
    width: 100%;
    display: flex;
    justify-content: center;
}

form .div_button_submit button{
    padding: 8px 58px;
    border-radius: 7px;
    background-color:#B77956;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    border: none;
    align-self:center;
    margin: auto ;
}

.Contacts_icon{
    display: flex;
    flex-direction: column;
}

.icon_contact{
    width: 67%;
    margin: auto;
}
.icon_contact .div_contact_icon{
    display: flex;
    justify-content: space-evenly;
}

.div_contact_icon .Contacts_icon{
    padding: 3px 23px;
    border-radius: 45px;
    transition: 0.5s;
}


.div_contact_icon .Contacts_icon:hover{
    background-color: #E59D74;
}

.div_contact_icon h3{
    color: white;
}

.home_section03 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: hidden;
}

.div_home_section03 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image_parte_left img {
    width: 100%;
    max-width: 400px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 5s ease forwards;
}

.parteRight {
    opacity: 0;
    transform: translateX(30px);
    animation: fadeInRight 5s ease forwards;
}

.classh3, .classP {
    margin: 0;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.home_section03:has(.image_parte_left img) {
    animation: fadeInUp 5s ease forwards;
}
